<div style="text-align:left">
  <div class="container">
    <div class="facets">
      <app-province-list class="province"></app-province-list>
      <app-place-list class="place"></app-place-list>
    </div>
    <div class="content">
      <div class="listcontainer">
        <app-person-list class="person"></app-person-list>
      </div>
      <div class="detail">
        <div><span>Person Details</span></div>
        <app-person-detail class="persondetail"></app-person-detail>
        <div><span>Location</span></div>
        <app-map class="mapdetail"></app-map>
      </div>
    </div>
  </div>
</div>